modules = ["web", "nodejs-20", "python-3.12"]
compile = "make"
run = "make create-react-app make install-dependencies make install-blockchain-dependencies make setup-python-env make build-bot make run-bot make start make build make test make format make eject make clean make clean-python-env"

[nix]
channel = "stable-24_05"

[deployment]
build = ["sh", "-c", "make"]
run = ["sh", "-c", "make create-react-app make install-dependencies make install-blockchain-dependencies make setup-python-env make build-bot make run-bot make start make build make test make format make eject make clean make clean-python-env"]
