modules = ["web", "nodejs-20", "python-3.12"]
compile = "make"
run = "make start"

[nix]
channel = "stable-24_05"

[deployment]
build = ["sh", "-c", "make"]
run = ["sh", "-c", "make start"]

[[ports]]
localPort = 3000
